body{
    background-color:lightyellow;
    font-size: 50px;
}
#football{
    height: 1px;
    width: -20px;
}
#headline{
    font-size: 50px;
}
#page{
    font-size: 20px;
}
#news{
    font-size: 20px;
}
#name{
    background-color: blueviolet;
}
#Sky{
    background-color:red;
    font-size: 50px;
    color: blue ;
    border: white 2px solid;

}
#clash{
    color: red;
}
.pick{
    color: black;
}
#pick{
    color: lightcoral;
}